body {
    background-color: #3e5c5a;
    font-family: Helvetica;
}

h1 {
    color: #d6d996;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

p {
    background-color: #395151;
    border-radius: 17px;
    margin: 40px 200px;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: medium;
    line-height: 2;
}
